#lista-tarefas {
margin-top: 50px;

}
.completed {
    text-decoration:line-through solid rgb(0, 0, 0)
}

.colorgray{
    background-color: grey;
}

.colorWhite {
    background-color: white;
}
.color{
    background-color: none;
}