body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.completed {
  text-decoration: line-through solid black;
}

h1 {
  margin-bottom: 0;
}

ol {
  border: cadetblue solid 1px;
  list-style: inside;
  list-style-type: decimal;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  min-height: 200px;
  padding-left: 0;
  text-align: left;
}

li {
  padding: 5px;
}

p {
  font-size: 80%;
  font-style: italic;
  margin-top: 0;
}

