#texto-tarefa {
    display: inline-block;
}

#criar-tarefa {
    display: inline-block;
    background-color: aquamarine;
    border-radius: 20px;
}

#lista-tarefas {
    display: block;
    
}
.color  {
    background-color: rgb(128, 128, 128);
}

.colorDefault {
    background-color: rgb(255, 255, 255);
}

