* {
    margin: 10px;
  }

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #eee;
  }

#funcionamento {
    color: #666;
    font-style: italic;
  }

#texto-tarefa {
    height: 25px;
    font-size: 18px;
    text-decoration:none;
}

.input-container {
    width: 100%;
    display: inline-block;
}

.task-list {
    margin-top: 10px;
}

#lista-tarefas {
    list-style-type: decimal;    
    font-size: 20px;
}

.buttons {
    background-color: rgb(0, 119, 255);
    color: white;
    font-size: 18px;
    font-weight:bold;
    border: 0px;
    border-radius:20px;
    height: 40px;
    width: 150px;
    text-decoration:none;
    display: inline-block;
}

.completed {
    text-decoration: line-through;
}

#apaga-tudo {
    background-color: red;
}

#remover-finalizados {
    background-color: rgb(0, 119, 255);
    width: 200px;
}