.bloco {
    display: inline-block;
}

#funcionamento {
    text-decoration: italic;
}

.completed {
    text-decoration: line-through solid rgb(0, 0, 0);
}

.marcado {
    background-color: rgb(128,128,128);
}