body {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: rgb(235, 235, 235);
  color: rgb(240, 240, 240);
  width: 55%;
}

.container {
  border: 3px solid rgba(0, 0, 0, 0.349);
  background-color: rgba(0, 0, 0, 0.876);
  margin: 5px;
  padding: 5px;
  min-height: 35px;
}

header {
  border: 3px solid rgba(0, 0, 0, 0.349);
  background-color: rgba(0, 0, 0, 0.876);
  margin: 5px;
  padding: 20px;
}

#instrucoes {
  border: 3px solid rgba(0, 0, 0, 0.349);
  background-color: rgba(0, 0, 0, 0.876);
  margin: 5px;
  padding: 20px;
}

#tarefas {
  min-height: 80px;
}

#criar-tarefa {
  width: 120px;
}

input:focus {
  outline: none;
}

input {
  background-color: rgb(232, 250, 229);
  border: 1px solid black;
  min-height: 32px;
  min-width: 480px;
  border-radius: 5px;
  font-weight: 400;
  font-size: 18px;
  padding-left: 5px;
  padding-right: 5px;
}

.task {
  font-size: 20px;
  width: 90%;
}

ol {
  list-style: none;
}

li:focus {
  outline: none;
}

li {
  border: 1px solid rgba(8, 8, 8, 0.431);
  padding: 5px;
  margin-top: 4px;
  display: block;
}

li:before {
  content: ">";
  padding-right: 10px;
  color: rgb(57, 243, 0);
}

li:hover {
  background-color: rgba(128, 128, 128, 0.561);
}

.completed {
  text-decoration: line-through;
}

.selected {
  background-color: rgb(128, 128, 128);
  color: black;
}

button {
  background-color: rgba(16, 156, 0, 0.781);
  border: 1px solid black;
  min-height: 37px;
  min-width: 20px;
  border-radius: 5px;
  font-weight: bold;
}

button:hover {
  background-color: rgba(29, 211, 9, 0.781);
}

button:focus {
  outline: none;
}

#apaga-tudo {
  width: 100px;
}

#remover-selecionado {
  width: 170px;
}

#mover-cima {
  width: 60px;
}

#mover-baixo {
  width: 60px;
}

#remover-finalizados {
  width: 170px;
}

#salvar-tarefas {
  width: 100px;
}
