body {
  background-color: white;
  border: solid 1px;
  border-radius: 20px;
  padding: 20px;
}

html {
  background-color: rgb(15 , 163 , 107);
}

.button-add {
  background-color: rgb(0 , 174 , 255);
  border: 1px;
  border-radius: 8px;
  color: white;
  font-size: 15px;
  margin-left: 20px;
  padding: 6px;
}

.lista-ordenada {
  width: fit-content;
}

.tarefa {
  background-color: white;
  border: 30px;
  line-height: 25px;
}

.selected {
  background-color: gray;
}

.completed {
  text-decoration: line-through solid black;
}

.footer-controller {
  display: inline-block;
}

.botao-controle {
  border-radius: 15px;
  border: 1px;
  color: white;
  font-size: 15px;
  margin-right: 20px;
  padding: 5px 30px;
}
