body , button , div , em , footer , header , h1 , input , li , main , ol {
  box-sizing: border-box;
  border: none;
  color: azure;
  font-family: "Indie Flower", cursive;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb( 5 , 5 , 50 );
}

.app-container {
  background-color: rgb( 10 , 36 , 78 );
  border-radius: 25px;
  margin: 20px auto 20px;
  width: 70%;
}

header , main , footer {
  margin: 10px 30px 10px;
  padding-bottom: 10px;
}

h1 {
  font-size: 40px;
}

input , button {
  background-color: rgb( 5 , 5 , 50 );
  border-radius: 10px;
  font-size: 16px;
  padding: 4px 10px;
}

button {
  cursor: pointer;
  transition: 0.7s;
}

button:hover {
  background-color: azure;
  color: rgb( 5 , 5 , 50 );
}

li {
  font-size: 18px;
  list-style-position: inside;
}

.selected {
  background-color: rgb( 128 , 128 , 128 );
}

.completed {
  text-decoration: line-through solid rgb( 0 , 0 , 0 );
}
